:root {
  --white: #f5f5f5;
  --background: #fae8eb;
  --potential-dark: #904c77;
  --yellow: #f7cb15;
  --potential-dark-3: #582630;
  --pale-yellow: #f7ee7f;
  --potential-dark-4: #63474d;
  --grey: #4c4c4c;
  --light-grey: #808080;
  --blue: #2c5784;
  --purple: #5b1865;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: var(--background);
  display: grid;
}

@media only screen and (min-width: 48em) {
  body {
    grid-template-columns: max-content minmax(min-content, max-content) 1fr;
  }
}

@media only screen and (min-width: 64em) {
  body {
    grid-template-columns: 1fr 2fr 1fr;
  }
}

body,
input,
button {
  font-family: 'Glegoo', serif;
  color: var(--potential-dark-3);
}

h1 {
  font-family: 'Nanum Brush Script', cursive;
  letter-spacing: 0.1em;
  color: var(--potential-dark-4);
  font-size: 3rem;
}

nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  background: #f7dbe0;
}

@media only screen and (min-width: 48em) {
  nav {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, minmax(100px, max-content));
    height: 100%;
    padding: 1em;
  }
}

nav button {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.15em;

  padding: 1em 0.5em;

  background: var(--blue);
  color: var(--white);
  border: 2px inset var(--white);
}

@media only screen and (min-width: 48em) {
  nav button {
    padding: 0 0.5em;
  }
}

nav button:hover,
nav button:focus {
  opacity: 0.8;
  cursor: pointer;
}

a {
  color: var(--blue);
}

a:visited {
  color: var(--purple);
}

p,
input,
label,
li,
legend {
  font-size: 1rem;
}

@media only screen and (min-width: 48em) {
  p,
  input,
  label,
  li,
  legend {
    font-size: 1.2rem;
  }
}

label,
input[type='submit'],
legend {
  font-weight: 700;
}

label {
  margin-right: 4em;
}

main {
  box-shadow: 0.75em 0.5em 1.25em var(--light-grey);
  background: var(--white);
}

#recipe-entry {
  display: grid;
  grid-gap: 1em;

  padding: 0.75em;
}

@media only screen and (min-width: 48em) {
  #recipe-entry {
    padding: 2em;
  }
}

#recipe-entry h2 {
  padding: 0;
  margin-bottom: 0.5em;
}

#recipe-entry input[type='text'],
#recipe-entry input[type='url'],
#submit-recipe {
  padding: 0.4em;
  border-radius: 0.75em;
}

#recipe-entry input[type='text'],
#recipe-entry input[type='url'] {
  border: 2px outset var(--potential-dark-3);
}

#submit-recipe {
  margin: 2em 0 1em;
  justify-self: end;
  background: var(--blue);
  color: var(--white);
  border: 2px outset var(--white);
}

#submit-recipe:hover,
#submit-recipe:focus {
  cursor: pointer;
}

#submit-recipe:active {
  border: 2px inset var(--white);
}

@media only screen and (min-width: 48em) {
  #submit-recipe {
    width: 40%;
  }
}

#recipe-loc-type input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;

  position: relative;
  top: 2px;
  width: 1em;
  height: 1em;
  border: 2px groove var(--potential-dark-3);
  transition: 0.2s all linear;
  margin: 1em 1em 0 0;
}

#recipe-loc-type input[type='radio']:checked {
  border: 6px groove var(--potential-dark-3);
}

#recipe-loc-type {
  border: none;
  margin: 1em 0;
}

#recipe-loc-type label {
  grid-column: 2;
}

#planned-recipes {
  display: none;
}

fieldset {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1em repeat(2, max-content);
  align-items: baseline;
}

legend {
  grid-column: 1 / span 2;
}
